<div class="crousel">

	<div class="row">

		<div class="col-3 displayTwo"></div>

		<div class="col-9 displayTree">

			<div class="owlCarousel">

				<div class="itemGroup owl-carousel">
					
					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	


				</div>


				<div class="itemGroup owl-carousel">
					
					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	

					<div class="item">
						<span class="checked">
							<img src="assets/img/check.svg">
						</span>
						<img src="assets/img/imgThumb_01.png">
					</div>	


				</div>	


				<div class="prev">
					<i class="fa fa-angle-left"></i>
				</div>
				<div class="next">
					<i class="fa fa-angle-right"></i>
				</div>


			</div>	

		</div>

	</div>
	


</div>
