<div class="crousel">

	<div class="row">

		<div (click)="switchDisplay()" class="col-3 displayTwo">
			
			<agm-map *ngIf="location && !switch" class="minimap" [latitude]="lat" [longitude]="lng">
			  <agm-marker	[latitude]="lat"
			  				[longitude]="lng"></agm-marker>
			</agm-map>

			<img *ngIf="location && switch" [src]="imgDisplay" height="120">

		</div>

		<div class="col-9 displayTree">


			<div class="itemGroup">


			<owl-carousel-o [options]="customOptions" #owlCar1>


				  <ng-template *ngFor="let item of claim.slice(0, 10)" carouselSlide>
				    <span class="checked">
						<img src="assets/img/check.svg">
					</span>
				    <img (click)="selectImg(item)" [src]="item.imgThumb">
				  </ng-template>



			</owl-carousel-o>

			</div>

			<div class="itemGroup">


			<owl-carousel-o [options]="customOptions" #owlCar2>


				  <ng-template *ngFor="let item of claim.slice(11, 20)" carouselSlide>
				    <span class="checked">
						<img src="assets/img/check.svg">
					</span>
				    <img (click)="selectImg(item)" [src]="item.imgThumb">
				  </ng-template>
				

			</owl-carousel-o>

			</div>

				
			


			<div class="prev" (click)="owlCar1.prev(); owlCar2.prev()">
				<i class="fa fa-angle-left"></i>
			</div>
			<div class="next" (click)="owlCar1.next(); owlCar2.next()">
				<i class="fa fa-angle-right"></i>
			</div>


		</div>

	</div>
	


</div>
