<div class="container mt-3 mb-3 p-3">

		<div class="info">

			<div class="row">
				<div class="col-9">
					<small>Security check</small>
					<span *ngIf="validated" class="validated"><i class="fa fa-check-square"></i> Validated</span>
				</div>
				<div class="col-3">
					<small>Photo #</small>
					<span>{{ id }}</span>
				</div>
			</div>

			<div class="row">
				<div class="col-3">
					<small>Date</small>
					<span>{{ date }}</span>
				</div>
				<div class="col-3">
					<small>Time</small>
					<span>{{ time }}</span>
				</div>
				<div class="col-3">
					<small>Weather</small>
					<span>{{ weather }}</span>
				</div>
				<div class="col-3">
					<small>GPS precision</small>
					<span>+/- {{ GPSPrecision }} m</span>
				</div>
			</div>
			

		</div>

		<div class="displayOne">
			
			<div class="imageDisplay">

				<div *ngIf="!selected" class="alert alert-info">SELECT PHOTO<br><i class="fa fa-arrow-down"></i></div>
				
				<img *ngIf="selected && !switch" [src]="image">

				<agm-map  *ngIf="selected && switch" [latitude]="lat" [longitude]="lng">
				  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
				</agm-map>

			</div>

		</div>

		
		<app-claim-carousel
			(newItemEvent)="addItem($event)"
			(switchEvent)="switchDisplay($event)"></app-claim-carousel>
		


	</div>