

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
/*font-family: 'Open Sans', sans-serif;*/



body {
	background-color: #EEE;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.container {
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #666;
	width: 90%;
}


/*INFO CONTENT*/

.info {
	background-color: #FFF;
	margin-bottom: 10px;
}

.info .row {
	margin: 10px 0;
}

.info small {
	display: block;
	font-style: normal;
	font-weight: 300;
	font-size: 9px;
	line-height: 12px;
	color: #434343;
}

.info span {
font-weight: normal;
font-size: 14px;
line-height: 18px;
}

.info span.validated {
	/* Green */
	color: #61CB83;
}



/* DISPLAY ONE CONTETN */

.displayOne .imageDisplay .alert {
	text-align: center;

}

.displayOne .imageDisplay {
	height: auto;
}

.displayOne .imageDisplay img {
	width: 100%;
}

.displayOne agm-map {
  height: 400px;
}


agm-map.minimap {
  height: 120px;
}



/* CAROUSEL */

.crousel {
	background-color: #333;
	height: 120px;
}

.crousel .row {
	margin-left: 0px;
	margin-right: 0px;
}

.crousel .displayTwo {
	/*background: #FFFA;*/
	height: 120px;
	padding: 0;
	cursor: pointer;
}

.crousel .displayTree {
	/*background: #FFF6;*/
	height: 120px;
	position: relative;
	overflow: hidden;
}

.crousel .displayTree .itemGroup {
	height: 50%;
	position: relative;
	overflow: hidden;
}

.owl-item {
  height: auto;
  width: 100%;
  position: relative;
  float: left;
  padding: 10px;
  cursor: pointer;
}

.owl-item:hover img {
	filter: brightness(150%);
}



.owl-item .checked {
	height: 20px;
    width: 20px;
    background: #61CB83;
    top: 2px;
    right: -6px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    z-index: 9;
}

.owl-item .rejected {
	height: 20px;
    width: 20px;
    background: #cb6161;
    color: #FFF;
    top: 2px;
    right: -6px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    z-index: 9;
}

.owl-item .checked img {
	height: 12px;
    margin: auto;
    position: relative;
    margin: 0px 4px 6px 4px;
}

.crousel .displayTree .prev, .crousel .displayTree .next {
	height: 32px;
    width: 32px;
    font-size: 20px;
    background: #FFF;
    color: #000;
    top: 33%;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 9;
    transition: all 1s;
}
.crousel .displayTree .prev:hover, .crousel .displayTree .next:hover {
	opacity: .5;
}

.crousel .displayTree .prev {
	left: 0px
}
.crousel .displayTree .next {
	right: 5px
}

@media (min-width: 768px) {

.container, .container-md, .container-sm {
    max-width: 640px;
}

}


@media (max-width: 767px) {

.container, .container-md, .container-sm {
    max-width: 80%;
   
}

}
